@font-face{

    font-family: 'MyWebFont';
    
    src: url('../fonts/Alpha\ Headline\ Font/.ttf');
    
    font-weight: normal;
    
    font-style: normal;
}   





@font-face{

    font-family: 'MyWebFont1';
    
    
    src: url('../fonts/Muller\ Font/.ttf');
    
    font-weight: normal;
    
    font-style: normal;
}   

