@import "vars";
@import "libs";
@import "fonts";
@import "../css/nullstyle.scss";

body{
    background-color: #151515;
}

.section{
    height: 100vh;
    width: 100%;
    background-image: url(../images/Dots.png);
    background-color: #151515;
    position: relative;

}
    
.header{
    max-width: 1550px;
    height: 150px;
    margin: 0 auto;
    background-color:#151515;
    &__navigation{
    }
    &__menu{
        width: 1550px;
        display: flex;
        justify-content: space-between;
        height: 150px;
        margin: 0 auto;
        align-items: center;
    }
}
 .media{
     width: 185px;
     display: flex;
     justify-content: space-between;
 }

.media__item{
    display: inline-block;
}
.button{
    width: 220px;
    height: 60px;
    box-shadow: 0 0 8.4px 0.6px #06dc06;
    border: solid 0.5px #06dd06;
    background-color: #151515;
    color: white;
    font-size: 24px;
    position: relative;
    font-family: MyWebFont1;
}
.button1{
  width: 220px;
  height: 60px;
  box-shadow: 0 0 8.4px 0.6px #06dc06;
  border: solid 0.5px #06dd06;
  background-color: #151515;
  color: white;
  font-size: 24px;
  position: relative;
  font-family: MyWebFont1;
  background-color:#06dc06 ;
  margin-top: 50px;
}

.button::after{
    content: " ";
    background-image: url(../images/arrow.png);
    background-size: cover;
    width: 17px;
    height: 14px;
    position: absolute;
    top: 37%;
    left: 75%;
}
.bg-text{
  
        font-size: 36.573px;
        font-family:MyWebFont;
        color: rgba(255, 255, 255, 0.031);
        line-height: 1.267;
        font-size:  165px;
        letter-spacing: 45px;
        position: absolute;
        top: 40%;
        left: 130px;
        
       
      } 
.banner{
    max-width: 740px;
    padding: 0 30px 0 30px;
    margin-top: 70px;
    margin-left: 50px;
&__title{
    font-family: MyWebFont;
  font-size: 63.5px;
  line-height: 1.13;
  letter-spacing: 3.18px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
}
&__subtitle{
    font-size: 29px; 
    text-align: left;
    color: #ffffff;
    font-family: MyWebFont;
    letter-spacing: 2px;
}
&__call{

    font-family: MyWebFont;
    font-size: 30px;
    text-align: left;
    color: #ffffff;
    width: 306px;
    height: 65px;
    box-shadow: 0 0 8.4px 0.6px #06dc06;
    border: solid 1px #06dd06;
    background-image: linear-gradient(to top, #069f06, #06dd06);
    margin-top: 43px;
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;

  }
  }

  .outLineBg {
    font-family: MyWebFont;
    max-width: 306px;
    height: 67px;
    box-shadow: 0 0 8.4px 0.6px #06dc06;
    border: solid 1px #06dd06;
    background-color: #151515;
    position: relative;
    margin-top: 47px;
    margin-left: 4px;
  }


.girl{
   
    background-image: url(../images/Photo.png);
    background-repeat: no-repeat;
    width: 615px;
    height: 800px;
    position: absolute;
    background-size: contain;
    top: 100px;
    right: 50px;
    &::before{
        content: "L O R E M";
        color: white;
        font-family: MyWebFont;
        position: absolute;
        top: 200px;
        right: 100px;
        font-size: 26px;
        width: 50px;
    }
    &::after{
        content: "L O R E M";
        color: white;
        font-family: MyWebFont;
        position: absolute;
        bottom: 10px;
        font-size: 26px;
        width: 50px;
        right: 470px;
        transform: rotate(90deg);
    }
    }
.product{
    background-image: url(../images/Product.png);
    width: 730px;
    height: 450px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    right: 300px;
    top: 450px;
    z-index: 2;
}
.menu__mobile{
    display: none;
}

// .bg{
//     background-color: #c4c4c460;
//     opacity: 0.1;
//     width: 100%;
//     height: 500px;
//     position: absolute;
//     top: 500px;
//     z-index: 1;
// }
.section2{
    background-color:rgba(#151515, 1);
    background-image: url(../images/WAVES.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.promo{
    width: 1650px;
    margin: 0 auto;
    height: 620px;
    display: flex;
    padding-top: 200px;
    &__size{
    }
    &__video{
        width: 980px;
        height: 555px;
        background-image: url(../images/SMOKE.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
    }

    &__img{
        background-image: url(../images/guitar.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 230px;
        height: 90%;
        margin-left: 110px;
        margin-top: 20px;
    }
    &__description{
        width: 650px;
        height: 220px;
    }
    &__text{
        color: white;
    }
    &__cube{
        
            border-width: 0.5px;
            border-color: rgb(1, 247, 0);
            border-style: solid;
            box-shadow: 0px 0px 38.8px 1.2px rgba(6, 220, 6, 0.004);
            width: 474px;
            height: 306px;
            margin-top: 125px; 
            position: relative;  
    }
    &__main{
      
            font-size: 40px;
            font-family: "MyWebFont1";
            color: rgb(255, 255, 255);
            opacity: 0.4;
            line-height: 2.474;
            text-transform: uppercase;
            letter-spacing: 25px;
            padding: 5px;                
    }
    &__play{
        position: absolute;
        top: 25%;
        left: 9%;
    }
    &__description{
        width: 590px;
    }
    &__title{
        
            font-size: 50px;
            font-family: "MyWebFont1";
            color: rgb(255, 255, 255);
            line-height: 1.148;
            text-align: left;
            text-transform: uppercase;
    }
    &__subtitle{

            font-size: 28px;
            font-family: "MeWebFont1";
            color: rgb(11, 225, 11);
            line-height: 1.2;
            text-align: left;
    }
    &__text{
            font-size: 24px;
            font-family: "MeWebFont1";
            color: rgb(255, 255, 255);
            line-height: 1.667;
            text-align:Left;
    }
}
.wawes-left{
    background-image: url(../images/WAVES.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 960px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
}
.section-3{
  background-color: #151515;
  width: 100%;
  height: 950px;
}
.slider {
    width: 75%;
    background-color:#151515;
    border-radius: 5px;
  margin: 0 auto;
  }
  
  .slick-slider button {
    display: none!important;
  }
  
  .slick-slide {
    color: #151515;
    padding: 40px 0;
    font-size: 1.25em;
    font-family: "Verdana";
    text-align: center;
    pointer-events: none;
  }
  
  .slick-slide .desc {
    opacity: 0;
  }
  
  .slick-slide .desc > * {
    transition: all 900ms ease;
  }
  
  .slick-slide .desc h2 {
    left: 50px;
    line-height: 1;
  }
  
  .slick-slide .desc p {
    top: 50px;
    opacity: 0;
  }
  
  .slick-slide img {
    width: 100%;
    padding-top: 30px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: black;
  }
 

 
  
  .slick-dots button {
    display: none;
  }
  
//   .slick-slide:nth-child(odd) {
//     /* background: blue;*/
//   }
  
  .slick-slide {
    opacity: 0.2;
    transition: all 300ms ease;
  }
  
  .slick-current {
    opacity: 1;
    transform: scale(1.1);
  }
  

.bounce{
}

// .bottle{
// }

.cup{
 
}
.prev{
   
    position: absolute;
    top: 360px;
}
.next{

    position: absolute;
    top: 300px;
}
.description-first{
 
}
.description-second{
  margin-top: 40px;
}
.description-three{
  margin-top: 40px;
}
.description__title{
  color: white;
  font-family: MyWebFont1;
  font-size: 26px;
}
.price{
  color: rgb(11, 225, 11);
  font-size: 32px;
  font-family: MyWebFont1;
}
.text{
  color:white;
  font-size: 24px;
  padding: 25px 10px 10px 10px;
  line-height: 36px;
}

.description-size{
  // width: 330px;
  // height: 590px;
}

.size{
  width: 330px;
  height: 590px;
  
}

.slick-arrow{
    right: -60px;
}

.section-4{
  height: 400px;
  width: 100%;
  position: relative;
  background-image: url(../images/Dots.png);
}

.boots{
  width: 666px;
  height: 440px;
  text-align: center;
  margin: 0 auto;
  margin-top: 300px;
  &__title{
    font-family: MyWebFont1;
    color: white;
    font-size: 42px;
  }
  &__text{
    color: white;
    font-size: 24px;
    line-height: 40px;
  }
  &__info{
 
      font-size: 24.495px;
      font-family: "MyWebFont1";
      color: rgb(6, 221, 6);
      text-decoration: underline;
      line-height: 1.2;
      padding-top: 15px;
      text-shadow: 0px 0px 8.37px rgba(6, 220, 6, 0.4);
  }
  &__img{
    background-image: url(../images/boots.png);
    width: 800px;
    height:400px;
    background-size: cover;
    position: absolute;
    left: 20px;
    top: 0;
  }
}

.title-green{
  color: rgb(11, 225, 11);
}
.bg-lines{
  background-image: url(../images/bg-lines.png);
  width: 725px;
  height: 925px;
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
  right: 0;
  top: -640px;
}

.wawes-left-1{
  background-image: url(../images/WAVES-LEFT.png);
  width:350px;
  height:500px;
  position: absolute;
  top: -450px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.section-5{
  height: 625px;
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  position: relative;
}
.information{
  width: 900px;
  margin: 0 auto;
}
.information__title{
  font-family: MyWebFont;
  font-size: 52.5px;
  line-height: 1.13;
  letter-spacing: 2.63px;
  text-align: left;
  color: #ffffff;
  text-align: center;
}
.answers{
  width: 915px;
  height: 325px;
  display: flex;
  margin-left: -10px;
  justify-content: space-between;
  &__left{
    width: 445px;
    height: 415px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    &-items{
      font-family: MyWebFont1;
      font-size: 29.5px;
      line-height: 1.24;
      letter-spacing: 5.9px;
      text-align: left;
      color: #ffffff;
      border-bottom: 3px solid rgb(11, 225, 11);
     
    }
  }
  &__right{
    width: 445px;
    height: 415px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin-left: 30px;
    &-items{
      font-family: MyWebFont1;
      font-size: 29.5px;
      line-height: 1.24;
      letter-spacing: 5.9px;
      text-align: left;
      color: #ffffff;
      border-bottom: 3px solid rgb(11, 225, 11);
    }
  }
}

.input{
  background-color: #151515;
  color: white;
}

.answer__bottom{
  width: 918px;
  font-size: 29.5px;
  line-height: 1.5;
  border-bottom: 3px solid rgb(11, 225, 11);
  margin: 0 auto;
  margin-top: 150px;
  text-align-last: left;
  position: relative;
}

.answer__accept{
  color: white;
  font-size: 24px;
  margin-top: 50px;
}
.radio{
  border-bottom: 1px solid #c4c4c4;
}
a{
  color: white;
}

.bg-input{
  background-image: url(../images/BG-input.png);
  width: 400px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0px;
}
.bg-input-right{
  background-image: url(../images/bg-input-right.png);
  width: 250px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 50px;
}

.footer{
  height: 550px;
  width: 100%;
  margin-top: 200px;
  &__title{
    color: white;
    font-size: 24px;
    text-underline-offset: 1px solid rgb(11, 225, 11); ;
    font-family: MyWebFont;
  }
  &__main{
    width: 1640px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    &-left{
      width: 225px;
      height: 120px;
    }
    &-center{
      width: 525px;
      height: 155px;
    }
  }
}
.footer__main-left--subtitle{
  font-size: 40px;
  letter-spacing: 5px;
}
.footer__media{
  display: flex;
  justify-content: space-between;
}

























@media screen and (max-width:480px){
    .header{
        width: 440px;
    }
    .header__menu{
        display: none;
    }
    .media{
        display: none;
    }
    .button{
        display: none;
    }
 
  .menu__mobile{
      width: 440px;
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
  }
  .banner__title{
      display: none;
  }
  .banner__subtitle{
      font-size: 18px;
      width: 400px;
  }
  .banner__call{
      width: 250px;
      height: 40px;
      box-shadow: unset;
      padding: 5px;
      font-size: 24px;
  }
  .outLineBg{
      width: 251px;
      height: 41px;
  }
  .banner{
      margin-left: 0;
  }
  .girl{
      width: 260px;
      height: 380px;
      display: block;
      margin: 0 auto;
      position: unset;
      &::before{
          font-size: 16px;
          top: 450px;
          right: 130px;
      }
      &::after{
          font-size: 16px;
          bottom: 45px;
          left: 130px;
      }
  }
  .product{
      display: none;
  }
  .bg-text{
      font-size: 140px;
      letter-spacing: normal;
      left: 40px;
  }
}

@import "media";
